In [9]:
import pandas as pd
import matplotlib.pyplot as plt
from ipywidgets import interact, widgets

import scipy.stats
%matplotlib inline

In [10]:
china1965 = pd.read_csv('income-1965-china.csv')
china2015 = pd.read_csv('income-2015-china.csv')
usa1965 = pd.read_csv('income-1965-usa.csv')
usa2015 = pd.read_csv('income-2015-usa.csv')

In [11]:
china1965.min()

income          0.041968
log10_income   -1.377078
dtype: float64

In [12]:
china1965.max()

income          5.426802
log10_income    0.734544
dtype: float64

In [13]:
china1965.mean()

income          0.660597
log10_income   -0.274157
dtype: float64

In [14]:
china1965.median()

income          0.557477
log10_income   -0.253773
dtype: float64

In [16]:
scipy.stats.percentileofscore(china1965.income, 1.5)

95.5

In [18]:
china1965.describe()

            income  log10_income
count  1000.000000   1000.000000
mean      0.660597     -0.274157
std       0.457226      0.297822
min       0.041968     -1.377078
25%       0.344130     -0.463277
50%       0.557477     -0.253773
75%       0.863695     -0.063640
max       5.426802      0.734544