In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
smoking = pd.read_csv('whickham.csv')

In [3]:
smoking.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1314 entries, 0 to 1313
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   outcome  1314 non-null   object
 1   smoker   1314 non-null   object
 2   age      1314 non-null   int64
dtypes: int64(1), object(2)
memory usage: 30.9+ KB

In [4]:
smoking.head()

  outcome smoker  age
0   Alive    Yes   23
1   Alive    Yes   18
2    Dead    Yes   71
3   Alive     No   67
4   Alive     No   64

In [6]:
smoking.smoker.value_counts()

No     732
Yes    582
Name: smoker, dtype: int64

In [9]:
smoking.outcome.value_counts(normalize=True)
#to see value as fractions

Alive    0.719178
Dead     0.280822
Name: outcome, dtype: float64

In [13]:
bysmoker = smoking.groupby('smoker').outcome.value_counts()
bysmoker.unstack()

outcome  Alive  Dead
smoker
No         502   230
Yes        443   139

In [14]:
smoking['ageGroup'] = pd.cut(smoking.age, [0,30,40, 53, 64], labels=['0-30','30-40','40-53','53-64'])

In [16]:
smoking['ageGroup'].head()

0     0-30
1     0-30
2      NaN
3      NaN
4    53-64
Name: ageGroup, dtype: category
Categories (4, object): [0-30 < 30-40 < 40-53 < 53-64]

In [17]:
byage = smoking.groupby(['ageGroup', 'smoker']).outcome.value_counts(normalize=True)

In [21]:
byage.unstack().drop('Dead',axis=1)

outcome             Alive
ageGroup smoker
0-30     No      0.981818
         Yes     0.975610
30-40    No      0.955224
         Yes     0.940678
40-53    No      0.876106
         Yes     0.802395
53-64    No      0.669291
         Yes     0.580645